{
    "parser": "babel-eslint",
    "extends": ["standard", "standard-react"],
    "env": {
        "browser" : true
     },
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": [2],
        "padded-blocks": 0,
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-curly-spacing": ["error", "always"],
        "react/prop-types": 0,
        "space-in-parens": ["error", "always"],
        "comma-dangle": 0,
        "jsx-quotes": 0,
        "react/jsx-indent-props": ["error", 4],
        "curly": 0
    }
}
